{% extends 'base.html' %}

{% block content %}

<div class="bg-light py-1 ps-1 m-sm-2">

            <nav aria-label="breadcrumb">
              <ol class="breadcrumb mt-1">
                <li class="breadcrumb-item"><a href="{% url 'expenses' %}">Expenses</a></li>
                <li class="breadcrumb-item active" aria-current="page">Add Expenses</li>
              </ol>
            </nav>
</div>



    <div class="card m-sm-2">
        <div class="card-body">
            {% include 'partials/messages.html' %}
            <form action="{% url 'add-expenses' %}" method="post">
                {% csrf_token %}
                <div class="form-group">
                    <label>Amount</label>
                    <input value="{{values.amount}}" name="amount" type="number" class="form-control form-control-sm">
                </div>

                  <div class="form-group">
                    <label>Description</label>
                    <input value="{{values.description}}" name="description" type="text" class="form-control form-control-sm">
                </div>

                  <div class="form-group">
                    <label>Category</label>
                      <select name="category"class="form-control form-control-sm">
                          {% for cat in category %}
                          <option name="category" value="{{cat.name}}">{{cat.name}}</option>
                          {% endfor %}

                      </select>
                </div>

                  <div class="form-group">
                    <label>Date</label>
                    <input value="{{values.date}}" name="date" type="date" class="form-control form-control-sm">
                </div>

                 <div class="form-group mt-5">
                    <input type="submit" value="Submit" class=" btn btn-primary form-control form-control-sm">
                </div>

            </form>
        </div>
    </div>




{% endblock content %}