{% extends 'base.html' %}
{% load static %}

{% block content %}

<div class="container">



    <div class="row m-2">
        <div class="col-md-10 bg-light py-1 ps-1">

            <nav aria-label="breadcrumb">
              <ol class="breadcrumb mt-1">
                <li class="breadcrumb-item"><a href="#">Tickets</a></li>
                <li class="breadcrumb-item active" aria-current="page">My Tickets</li>
              </ol>
            </nav>
        </div>

        <div class="col-md-2">
            <a href="{% url 'add-ticket' %}" class="btn btn-primary m-sm-1">Add Ticket</a>
        </div>
    </div>

    {% include 'partials/messages.html' %}
    {% if tickets.count %}
    <div class="container">


    <div class="row">
        <div class="col-md-8">

           <a class="btn btn-info" href="">Export to pdf</a>
        </div>
         <div class="col-md-4">

             <div class="form-group">
                 <input id="searchText" type="text" class="form-control" placeholder="Search">
             </div>

             
         </div>
    </div>


    <div class="app-table">

    <table class="table table-stripped table-hover">
        <thead>
            <tr>
                <th> Priority ({{ currency }})</th>
                <th> Category</th>
                <th> Description</th>
                <th> Date</th>
                <th></th>
            </tr>

        </thead>
        <tbody>
        {% for ex in page_obj %}
        <tr>
            <td>{{ex.priority}}</td>
            <td>{{ex.category}}</td>
            <td>{{ex.description}}</td>
            <td>{{ex.open_date}}</td>
            <td><a href="" class="btn btn-secondary">Edit</a></td>
        </tr>
        {% endfor %}
        </tbody>
    </table>

        </div>

    <h3 class="not-found" style="display:none">Result not found</h3>
    <div class="table-output" style="display:none">

            <table class="table table-stripped table-hover">
        <thead>
            <tr>
                <th> Priority ({{ currency }})</th>
                <th> Category</th>
                <th> Description</th>
                <th> Date</th>
                <th></th>
            </tr>

        </thead>
        <tbody class="table-body">

        </tbody>
    </table>
    </div>

    <div class="pagination-container">
        <div class="">
            Showing page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
        </div>

       <nav aria-label="...">
                  <ul class="pagination align-right float-right mr-auto">
                      {% if page_obj.has_previous %}
                        <li class="page-item">
                          <a class="page-link" href="?page={{page_obj.previous_page_number}}" tabindex="-1" aria-disabled="true">Previous</a>
                        </li>
                       {% endif %}
                      {% if page_obj.number == 1 %}
                      <li class="page-item disabled">
                          <a class="page-link" href="" tabindex="-1" aria-disabled="true">Previous</a>
                        </li>
                      {% endif %}
                      <li class="page-item"><a class="page-link" href="#">1</a></li>
                        <li class="page-item active" aria-current="page">
                          <a class="page-link" href="#">{{ page_obj.number }}</a>
                        </li>
                       <li class="page-item"><a class="page-link" href="#"></a></li>
                      {% if page_obj.has_next %}
                        <li class="page-item">
                          <a class="page-link" href="?page={{page_obj.next_page_number}}">Next</a>
                        </li>
                      {% endif %}
                      {% if page_obj.paginator.num_pages == page_obj.number %}
                      <li class="page-item disabled">
                          <a class="page-link" href="">Next</a>
                        </li>
                      {% endif %}

                  </ul>
        </div>
        </nav>
</div>
    {% endif %}

</div>

 <script src="{% static 'js/search.js' %}"></script>
{% endblock %}
